@tailwind base;
@tailwind components;
@tailwind utilities;

.notification {
  border-bottom: 3px solid #909090;
  color: #222222;
  padding: 1rem;
  max-width: 24rem;
  margin: 1rem 0;
  border-radius: 2px;
  -webkit-box-shadow: -1.5px 1.5px 10px -2px #ede2e2;
  -moz-box-shadow: -1.5px 1.5px 10px -2px #ede2e2;
  box-shadow: -1.5px 1.5px 10px -2px #ede2e2;
}

.error {
  border-bottom: 3px solid #ff1155;
  color: #ff1155;
}

.success {
  border-bottom: 3px solid #38cc38;
  color: #38cc38;
}
