.navigation {
  background-color: #af98bd;
  display: flex;
  align-items: center;
  padding: 0;
  gap: .5rem;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  padding: 0 .5rem;
}

.navlist {
  list-style-type: none;
}